PORT=3001
GEMINI_API_KEY=AIzaSyBs3V7JmyFGiTK8BKmf_84JMR1C8RE3mbk

# 又拍云配置 (Upyun)
UPYUN_SERVICE_NAME=meteor3d
UPYUN_OPERATOR_NAME=admin
UPYUN_PASSWORD=EcAtmkzy6GYb5KyEr1AmuFvKFUnWkVGj
UPYUN_DOMAIN=https://youpaiyun.meteor3d.cn

# MongoDB 数据库
MONGODB_URI=mongodb://root:123456@127.0.0.1:27017/meteor3d
